<configuration>
    <!-- Logs directory by day -->
    <property name="logDir" value="logs"/>

    <!-- Application Logs Appender -->
    <appender name="APPLICATION_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/app.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/app-%d{yyyy-MM-dd-HH}.log.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Debug Logs Appender -->
    <appender name="DEBUG_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/dev.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/dev-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- Application Logs Logger -->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="APPLICATION_LOG" />
    </logger>

    <!-- Developer Logs Logger -->
    <logger name="com.zoomo.chat.controllers" level="INFO" additivity="false">
        <appender-ref ref="DEBUG_LOG" />
    </logger>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="APPLICATION_LOG" />
    </root>
</configuration>