body {
    font-family: Roboto, Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.chat-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

h2 {
    color: #4CAF50; /* Light green primary color */
    text-align: center;
    margin-bottom: 20px;
}

.chat-box {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    height: 300px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column; /* Đảm bảo các tin nhắn xếp theo cột */
}

.input-container {
    display: flex;
    align-items: center;
}

.message-input, .username-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 16px;
}

.send-button, .connect-button {
    background-color: #4CAF50; /* Light green primary color */
    color: #fff; /* White text */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.send-button:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}

.message {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    width: fit-content;
    max-width: 80%;
    word-wrap: break-word;
}

.message.sent {
    background-color: #dfffd6; /* Light green for sent messages */
    align-self: flex-end;
}

.message.received {
    background-color: #e0e0e0; /* Light gray for received messages */
    align-self: flex-start;
}

.timestamp {
    font-size: calc(100% - 4px); /* 4px smaller than the message text */
    color: #888; /* Light gray for the timestamp */
    margin-top: 5px;
    text-align: right; /* Align timestamp to the right */
}





